{% extends 'base.html' %}
{% block content %}
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">The Dataset <span class="text-muted">Keeping things simple</span></h2>
        <p class="lead">
            Our group initial idea is implementing a computer vision model that can identify an animal from an image. But we face some
            challenges along the way and can't really implement the computer vision model. Because of that we are keeping things simple
            by using the dataset the professor Tin provided in the demo. The dataset is a collection of SMS spam and ham messages from the UK.
            Learn more about the dataset at <a href="https://archive.ics.uci.edu/ml/datasets/sms+spam+collection">UCI repo</a>
        </p>
      </div>
      <div class="col-md-5">
<!--          <span>Photo by <a href="https://unsplash.com/@fabioha?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">fabio</a> on <a href="https://unsplash.com/s/photos/data?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>-->
          <img src=" ">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">The ML Algorithm</h2>
        <p class="lead">
            For training the model, we are using the MLP (Multilayer perceptron) algorithm. From our research, the MLP was a popular
            machine learning solution in the 1980s for classification, and recognition models. Because our main goal for the model is
            categorize spam and ham messages, we chose the MLP algorithm to train our model.
            Learn our about the algorithm at <a href="https://en.wikipedia.org/wiki/Multilayer_perceptron">Wikipedia</a>
        </p>
      </div>
      <div class="col-md-5 order-md-1">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">The Purpose of the Model <span class="text-muted">What does it do?</span></h2>
        <p class="lead">
            The main purpose of the model is to identify a message from the user input is a spam or a ham message, and how much
            is the result's confidence percentage.
            Check out our <a href="/inference">inference page</a>.
        </p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
      </div>
    </div>

    <hr class="featurette-divider">
{% endblock %}