{% extends 'base.html' %}
{% block content %}
  <section class="jumbotron text-center">
    <div class="container">
      <h1>Our Group Members</h1>
      <p class="lead text-muted">Weclome to our COMP 4312 final project. We're building an ML model for the cloud!</p>
      <p>
        <a href="/inference" class="btn btn-primary my-2">Check out our work!</a>
        <a href="/about" class="btn btn-secondary my-2">Learn about the model</a>
      </p>
    </div>
  </section>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">

<!--                Dong-->
                <div class="col-md-4">
                  <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" width="100%" height="auto" src="../static/images/dong-photo.jpg">
                    <div class="card-body">
                      <h3>Dong Duong Trinh</h3>
                      <p class="card-text">Dong is the one focusing on the ML model and the inference webpage. Though my
                      knowledge in ML is not much, I was able to implement a model and apply it on a website.<br>
                      For hobby, I enjoy playing video game competitively. I was a high elo TFT player in the Vietnam server<br>
                      <a href="https://www.facebook.com/alvin.trinh.984">Find me on Facebook</a></p>
                    </div>
                  </div>
                </div>

<!--                Kenneth-->
                <div class="col-md-4">
                  <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" width="100%" height="auto" src="../static/images/ken-headshot.jpg">
                    <div class="card-body">
                      <h3>Kenneth Koniouchine</h3>
                      <p class="card-text">Kenneth has been focusing on the UI portion of checkpoint 1</p>
                    </div>
                  </div>
                </div>

<!--                Chetan-->
                <div class="col-md-4">
                  <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" width="100%" height="auto" src="../static/images/chetan.jpg">
                    <div class="card-body">
                      <h3>Chetan Godase</h3>
                      <p class="card-text">Chetan is focusing on getting bonus marks for he project by working on storage and retrieval of data by cloud</p>
                    </div>
                  </div>
                </div>

<!--                Yaohan-->
                <div class="col-md-4">
                  <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" width="100%" height="auto" src="../static/images/yaohan-xing-n.jpg">
                    <div class="card-body">
                      <h3>Yaohan Xing</h3>
                      <p class="card-text">Yaohan is working on the PowerPoint and presentation.</p>
                    </div>
                  </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}