{% extends 'base.html' %}
{% block content %}
  <section class="jumbotron text-center">
    <div class="container">
      <h1>Our Group Members</h1>
      <p class="lead text-muted">Weclome to our COMP 4312 final project. We're building an ML model for the cloud!</p>
      <p>
        <a href="/inference" class="btn btn-primary my-2">Check out our work!</a>
        <a href="/about" class="btn btn-secondary my-2">Learn about the model</a>
      </p>
    </div>
  </section>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">

<!--                Dong-->
                <div class="col-md-4">
                  <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" width="100%" height="auto" src="../static/images/ken-headshot.jpg">
                    <div class="card-body">
                      <h3>Dong Duong Trinh</h3>
                      <p class="card-text">Type in Dong's description here</p>
                    </div>
                  </div>
                </div>

<!--                Kenneth-->
                <div class="col-md-4">
                  <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" width="100%" height="auto" src="../static/images/ken-headshot.jpg">
                    <div class="card-body">
                      <h3>Kenneth Koniouchine</h3>
                      <p class="card-text">Kenneth has been focusing on the UI portion of checkpoint 1</p>
                    </div>
                  </div>
                </div>

<!--                Chetan-->
                <div class="col-md-4">
                  <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" width="100%" height="auto" src="../static/images/ken-headshot.jpg">
                    <div class="card-body">
                      <h3>Chetan Godase</h3>
                      <p class="card-text">Chetan is a good person. He will need to write something here</p>
                    </div>
                  </div>
                </div>

<!--                Yaohan-->
                <div class="col-md-4">
                  <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" width="100%" height="auto" src="../static/images/ken-headshot.jpg">
                    <div class="card-body">
                      <h3>Yaohan Xing</h3>
                      <p class="card-text">Yaohan is also a good person. Like Chetan.</p>
                    </div>
                  </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}